TFG/src/wsTaedsBookResponse/BookResponseSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RESPUESTA_CERTIFICADO">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PERIODO">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="DESDE"/>
              <xs:element type="xs:string" name="HASTA"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:int" name="CODIGO_REFERENCIA"/>
        <xs:element type="xs:long" name="LOCALIZADOR"/>
        <xs:element type="xs:string" name="NUMERO_POLIZA"/>
        <xs:element type="xs:string" name="ASOCIACION_AGRUPACION"/>
        <xs:element type="xs:string" name="MODALIDAD"/>
        <xs:element type="xs:string" name="DESTINO"/>
        <xs:element type="xs:string" name="FECHA_EXPEDICION"/>
        <xs:element type="xs:byte" name="NUMERO_ASEGURADOS_VIAJEROS"/>
        <xs:element type="xs:string" name="POBLACION"/>
        <xs:element type="xs:float" name="PRECIO"/>
        <xs:element name="ASEGURADOS">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ASEGURADO" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="NOMBRE"/>
                    <xs:element type="xs:string" name="DNI"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="CERTIFICADO_URL"/>
        <xs:element type="xs:string" name="CERTIFICADOECO_URL"/>
        <xs:element type="xs:anyURI" name="MICERTIFICADO_URL"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>